.card {
    border: solid #3a3838 4px;
    width: 175px;
    margin: 10px;
    box-shadow: 5px 5px 10px;
}

.imgContainer {
    width: 100%;
} 

img {
    width: 100%;
}

.card:hover {
    box-shadow: 10px 10px 20px #3a3838;
    cursor: pointer;
    transform: translate(2px, 2px)
}